apiVersion: v1
kind: Service
metadata:
  name: job-board-api-service
  namespace: app
spec:
  type: NodePort
  selector:
    app: job-board
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30081
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: app
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
