replicaCount: 1

image:
  repository: job-board
  tag: v1.0.1
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 8080
  nodePort: 30081

config:
  ginMode: release
  postgresDb: jobboard
  postgresUser: jobboard

postgres:
  image: postgres:15-alpine
  storage: 256Mi
  resources:
    requests:
      memory: 64Mi
      cpu: 50m
    limits:
      memory: 128Mi
      cpu: 200m

resources:
  requests:
    memory: 128Mi
    cpu: 100m
  limits:
    memory: 256Mi
    cpu: 500m

livenessProbe:
  httpGet:
    path: /healthz
    port: 8080
  initialDelaySeconds: 15
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /healthz
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 5
