# Production environment values

replicaCount: 3

image:
  tag: v1.0.1

service:
  type: LoadBalancer
  port: 8080

config:
  ginMode: release
  postgresDb: jobboard_prod
  postgresUser: jobboard_prod

postgres:
  image:
    tag: 15.2-alpine
  storage: 10Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 250m
    limits:
      memory: 512Mi
      cpu: 500m

resources:
  requests:
    memory: 256Mi
    cpu: 200m
  limits:
    memory: 512Mi
    cpu: 1000m
