# Development environment values

replicaCount: 1

image:
  tag: v1.0.1

service:
  type: NodePort
  nodePort: 30081

resources:
  requests:
    memory: 64Mi
    cpu: 50m
  limits:
    memory: 128Mi
    cpu: 200m

postgres:
  storage: 256Mi
  resources:
    requests:
      memory: 32Mi
      cpu: 25m
    limits:
      memory: 64Mi
      cpu: 100m
