# Production environment values
replicaCount: 3

image:
  tag: v1.0.1

service:
  type: LoadBalancer

resources:
  requests:
    memory: 256Mi
    cpu: 200m
  limits:
    memory: 512Mi
    cpu: 1000m

postgres:
  storage: 10Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 250m
    limits:
      memory: 512Mi
      cpu: 500m
